<%- include("header"); -%>

<div class="box" id="heading">
  <button
    form="listEditForm"
    type="submit"
    name="listId"
    value="<%= list._id %>"
    class="left-btn"
  >
    <i class="fa-solid fa-check"></i>
  </button>
  <form
    action="/<%= list.slug %>/edit"
    method="post"
    id="listEditForm"
    class="top-form"
  >
    <input
      type="text"
      name="newListName"
      class="top-input"
      required
      autofocus
      autocomplete="off"
      value="<%= list.name %>"
      onfocus="document.execCommand('selectAll', false, null);"
    />
  </form>
  <a href="/<%= list.slug %>" class="right-btn">
    <i class="fa-solid fa-xmark"></i>
  </a>
</div>

<div class="box">
  <div class="container-fluid">
    <% list.items.forEach(function(item) { %>
    <div class="item row">
      <div class="col-1 not-checkbox"></div>
      <p class="col-9"><%= item.name %></p>
    </div>
    <% }) %>
  </div>
  <div class="item"></div>
</div>

<%- include("footer"); -%>
