<%- include("header"); -%>

<div class="box" id="heading">
  <h1><%= list.name %></h1>
</div>

<div class="box">
  <% list.items.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="itemCheckBox"
        value="<%= item._id %>"
        onChange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
  </form>
  <% }) %>

  <form class="item" action="/<%= list.slug %>" method="post">
    <input
      type="text"
      name="newItemName"
      placeholder="New Item"
      required      
      autofocus
      autocomplete="off"
    />
    <button type="submit" name="listSlug" value="<%= list.slug %>">+</button>
  </form>
</div>

<%- include("footer"); -%>
