<%- include("header"); -%>

<div class="box" id="heading">
  <a href="/" class="left-btn"><i class="fa-solid fa-chevron-left"></i></a>
  <h1><%= list.name %></h1>
  <a href="/<%= list.slug %>/edit" class="right-btn">
    <i class="fa-regular fa-pen-to-square"></i>
  </a>
</div>

<div class="box">
  <div class="container-fluid">
    <% list.items.forEach(function(item) { %>
    <form action="/<%= list.slug %>/item/delete" method="post">
      <div class="item row">
        <input
          type="checkbox"
          name="itemId"
          value="<%= item._id %>"
          onChange="this.form.submit()"
          class="col-1"
        />
        <p class="col-9"><%= item.name %></p>
        <input type="hidden" name="listSlug" value="<%= list.slug %>" />
      </div>
    </form>
    <% }) %>
  </div>

  <form class="item" action="/<%= list.slug %>/item/add" method="post">
    <input
      type="text"
      name="newItemName"
      placeholder="New Item"
      required
      autofocus
      autocomplete="off"
      class="input-item"
    />
    <button type="submit" name="listSlug" value="<%= list.slug %>">+</button>
  </form>
</div>

<%- include("footer"); -%>
