<%- include("header"); -%>

<div class="box" id="heading">
  <div>
    <a href="/" class="home-link"><i class="fa-solid fa-chevron-left"></i></a>
    <h1><%= list.name %></h1>
  </div>
</div>

<div class="box">
  <% list.items.forEach(function(item) { %>
  <form action="/<%= list.slug %>/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="itemId"
        value="<%= item._id %>"
        onChange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listSlug" value="<%= list.slug %>" />
  </form>
  <% }) %>

  <form class="item" action="/<%= list.slug %>" method="post">
    <input
      type="text"
      name="newItemName"
      placeholder="New Item"
      required
      autofocus
      autocomplete="off"
    />
    <button type="submit" name="listSlug" value="<%= list.slug %>">+</button>
  </form>
</div>

<%- include("footer"); -%>
